<% provide(:title, "Home")%>
<!--ジャンボとろん-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The　Survey</h1>
    <p class="lead">あなたは周りの人のことをどれだけ知っていますか？</p>
    <p>The surveyはアンケートに特化したSNSアプリです。</p>
    <p>みんなの好きなものや考え方を知ることができます。</p>
    <p>簡単フィルタリングで、世代や性別の違いが分かります。</p>
    <span><%= link_to "新規登録", signup_path, class: "btn btn-primary" %></span>
    <span><%= link_to "アンケートを見る", "#", class: "btn btn-success" %></span>
  </div>
</div>
<!--説明部分（カード）-->
<div class="container container-m">
<div class="card-deck">
  <div class="card">
   <div class="card-body">
      <img class="card-img-top" src="../assets/icon_binder.png" alt="アンケート">
      <h4 class="card-title">アンケート</h4>
      <p class="card-text">アンケートを自由に作りましょう。</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="../assets/icon_analysis.png" alt="分析">
      <h4 class="card-title">結果分析</h4>
      <p class="card-text">アンケートを分析することができます。年齢や性別、住んでいる場所
        によって考え方は異なります。</p>　
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="../assets/icon_share.png" alt="Card image cap">
      <h4 class="card-title">共有</h4>
      <p class="card-text">友達や家族と共有しましょう。回答数が増えれば、データの精度も
        上がります。</p>
    </div>
  </div>
</div>
