<div class="container mt-3">
  <u><h3>作成したアンケート</h3></u>
  <%= render partial: "surveys/survey_feed", locals: { path: @path, s: @my_surveys, paginate_param: "page_mine", search: :my_search } %>
</div>
