<% survey.each do |survey| %>
  <%= link_to survey_result_path(survey) do%>
    <li class="d-flex align-items-center">
        <span class="survey-link"><%= survey.question %></span>
    </li>
  <% end %>
<% end %>
