<div class="container mt-3">
  <u><h3>参加中のアンケート</h3></u>
  <%= render partial: "surveys/survey_feed", locals: { path: @path, s: @voted_surveys, paginate_param: "page_voted", search: :voted_search } %>
</div>
