<% provide(:title, "新規アンケート")%>
<div class="error_message">
  <%= render "shared/error_message", object: @survey %>
</div>
<div class="container sign-up-contailner mt-5">
<h2>新規アンケート</h2>
  <%= render 'survey_form', path: new_survey_path(@survey), method: :post %>
</div>
