/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
//bootstrapに定義されてないクラスのインポート(エラーメッセージ)
@import "custom";


//ホーム画面＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
  .img-hidden {
    height: 300px;
    overflow: hidden;
  }
  .top-icon {
    background-image: image-url("top-background.jpg");
    background-size: cover;
  }
  .text-box {
    background: rgba(255, 255, 255, 0.75);
  }
  .home-content {
    text-shadow: 0.5px 0.5px;
  }
  .navbar-toggler-icon .dropdown-toggler {
    border-color: rgba(0,0,0,0);
  }
  //カードのアイコン
  .card-img-top {
    padding: 10px;
    width: 100px;
    height: 100px;
  }
  //副見出し
  .lead {
    font-size: 25px;
  }
  //ボタンの距離
  .btn {
    margin-bottom: 10px;
  }
  .dropdown-menu {
    background-color: #343a40;
  }
//ログイン中のホーム＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
  //ユーザ情報
  .user-status {
    border-bottom: solid;
    border-bottom-style: double;
    border-bottom-color: black;
  }
  .bg-light-custom {
    background-color: #EEEEEE;
  }
  //アンケート一覧
  .survey-status {
    margin: 10px 10px 10px 0;
    margin-left: auto;
  }
  .my-survey {

    border: solid;
    border-width: 0 1px 1px 0;
  }
  .voted-survey {

    border: solid;
    border-width: 0 1px 1px 0;
  }
//ヘッダー＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
  .none-decorate {
    text-decoration: none;
  }

//フォーム＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
  .field {
    margin: 10px 0;
  }
  //画像プレビューのサイズ
  #image_preview {
    width: 150px;
    height: 150px;
  }
  //バッジ開業させない(エラーの箇所にタグが入りレイアウト崩れるの防止)
  .field_with_errors {
    display: inline;
    input {
      @extend .is-invalid;//エラーを赤枠で囲う
    }
  }

//ユーザ一覧＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
  .feeds {
    list-style: none;
    li {
       border-top: 1px solid lightgray;
       box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
       margin-top: 1px;
       font-size: 20px;
    }
    h3 {
      margin-top: 10px;
    }
  }
  .paginate {
    margin-top: 20px;
  }
  .user-feed-name {
    margin-right: auto;
  }
  .follow-status {
    margin: 10px 10px 0 0;
    margin-left: auto;
  }

//アイコン
  #index_mini_image {
    width: 50px;
    height: 50px;
    margin: 5px;
  }

//ページネーション
.pagination {
  justify-content: center;
}


//ページネーション自体のデザイン
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

//表示しているページ番号のデザイン
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

//ホバー時のデザイン
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
//ユーザ編集＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
.user-delete {
  margin: 10px 0;
}
.password-edit {
  margin: 10px 0;
}
.back-btn {
  margin: 10px 0;
}
//アンケート＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
.comment_field {
  margin: 10px 0;
}
.comment-feeds {
  list-style: none;
  border-top: solid;
  border-width: 2px;
  margin-top: 10px;
  font-size: 15px;
  li {
    margin-top: 2px;
  }
}
//アンケート 結果＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
.collapse {
  background-color: #EEEEEE;
}
