<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">The survey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


    <ul class="navbar-nav ml-auto float-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">ホーム<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">アンケート一覧</a>
      </li>
      <!--ログインしてる時-->
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="#">アンケート作成</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">タイムライン</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users">ユーザ検索</a>
            <%= link_to edit_user_registration_path(current_user), class: 'dropdown-item' do %>
              <span class="dropdown-item">設定</span>
            <% end %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout" data-method="delete">ログアウト</a>
          </div>
        </li>

      <!--ログインしてない時-->
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/signup">新規登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">ログイン</a>
        </li>
      <% end %>
    </ul>
</nav>
